<p>
Milí soutěžící a příznivci webu Auta nás baví, 
</p>
<p>
rádi bychom vás upozornili, že na <a href="http://www.autanasbavi.cz">www.autanasbavi.cz</a> můžete vyplnit druhé kolo soutěžních otázek. 
Řekněte také svým kamarádům, že se mohou stále zapojit do soutěže o super ceny, první kolo otázek 
najdou v archivu na webu. 
</p>
<p>
Hodně štěstí vám přeje tým webu Auta nás baví!
</p>