
Vážená paní ředitelko, vážený pane řediteli, 

<p>
projekt Auta nás baví zaměřený na podporu technických oborů zaštítěný Sdružením automobilového průmyslu běží již druhým rokem. Seznam škol, technické obory, rady odborníků, dny otevřených dvěří a další, to všechno můžete najít na <a href="http://www.autanasbavi.cz">www.autanasbavi.cz</a>. Výchozím kritériem pro nás byly obory, jejichž absolventy firmy v automobilovém průmyslu dlouhodobě postrádají. Informace o školách vyučujících tyto obory jsme získali z databáze Ústavu informací ve vzdělávání (ÚIV). 
</p>
<p>
Jak již také víte, díky tomuto projektu můžete i vy najít základní informace o vaší škole na stránkách <a href="http://www.autanasbavi.cz">www.autanasbavi.cz</a> (školy se zobrazují na interaktivní mapě a v souhrnném přehledu všech škol).
Aby byly informace o vaší škole co možná nejpřesnější a nejaktuálnější (dny otevřených dveří, akce, novinky, kontaktní data), prosíme vás o spolupráci a pravidelnou administraci webu. 
</p>
<p>
Pro vaše pohodlné doplňování údajů jsme v letošním roce přešli na vylepšený systém a zasíláme vám přístupová hesla a návod, jak využívat možnosti pravidelné aktualizace vašich údajů. 
</p>
<p>
Děkujeme a těšíme se na další spolupráci 
</p>

<h2>VAŠE NOVÉ PŘIHLAŠOVACÍ JMÉNO A HESLO:</h2>
Přihlašovací jméno (e-mail):<%= @email %><br /> 
Heslo: <%= @password %>

<h2>NÁVOD NA EDITACI STRÁNEK ŠKOLY</h2> 
<p>
Do editačního rozhraní stránek se přihlásíte na adrese http://www.autanasbavi.cz/prihlaseni/nove.
Zde vyplňte údaje, které vám zasíláme, tedy email a heslo. 
</p>
<p>
Po přihlášení na stránku klikněte na odkaz "Administrace", kde bude uvedena vaše škola.
U vaší školy můžete editovat tyto položky: údaje o škole a fotografie.
Pokud kliknete na "editovat", můžete v případě nutnosti upravovat tyto položky: název školy, anotace, kompletní adresa, vyučované obory.
</p>
<p>
Fotografie
Stávající fotografii máte možnost odstranit.
Máte možnost náhrát nové fotografie, ale vždy budou na stránce uvedeny pouze 4.
Novou fotografii nahrajete tak, že využijete tlačítka "procházet" a "přidat foto".
</p>
<p>
"editovat"
Po ukončené editaci jakéhokoliv z polí stiskněte "upravit" pro uložení. Pokud tak neučiníte, vaše úpravy nebudou uloženy. 
</p>
<p>
Věříme, že webové stránky mohou přispět podpoře technických oborů a tím i ke zviditelnění vaší školy.
Předem děkujeme za spolupráci a jsme k dispozici pro případné dotazy.
</p>
<p>
Realizační tým<br />
info@autanasbavi.cz
</p>

