
Milí přátelé,  
<p>
projekt Auta nás baví zaměřený na podporu technických oborů zaštítěný Sdružením automobilového průmyslu běží již druhým rokem. Seznam škol, technické obory, rady odborníků, dny otevřených dvěří a další, to všechno můžete najít na <a href="http://www.autanasbavi.cz">www.autanasbavi.cz</a>. 
</p>
<p>
Jak již také víte, díky tomuto projektu můžete i vy najít základní informace o vaší firmě na stránkách  <a href="http://www.autanasbavi.cz">www.autanasbavi.cz</a> (firmy se zobrazují na interaktivní mapě a v souhrnném přehledu všech zaměstnavatelů).
Aby byly informace od členských firem co možná nejpřesnější a nejaktuálnější (dny otevřených dveří, akce, novinky, zkušenosti zaměstnanců, kontaktní data), prosíme vás o spolupráci a pravidelnou administraci webu. 
</p>
<p>
Pro vaše pohodlné doplňování údajů jsme v letošním roce přešli na vylepšený systém a zasíláme vám přístupová hesla a návod, jak využívat možnosti pravidelné aktualizace vašich údajů. 
</p>
<p>
Děkujeme a těšíme se na další spolupráci 
</p>

<h2>VAŠE NOVÉ PŘIHLAŠOVACÍ JMÉNO A HESLO:</h2>
Přihlašovací jméno (e-mail): <%= @email %><br /> 
Heslo: <%= @password %>


<h2>NÁVOD NA EDITACI STRÁNEK FIRMY</h2> 
<p>
Do editačního rozhraní stránek se přihlásíte na adrese <a href="http://www.autanasbavi.cz/prihlaseni/nove">www.autanasbavi.cz/prihlaseni/nove</a>.
Zde vyplňte údaje, které vám zasíláme, tedy email a heslo. 
</p>
<p>
Po přihlášení na stránku klikněte na odkaz "Administrace", kde bude uvedena vaše společnost.
Pokud kliknete na "editovat", můžete v případě nutnosti upravovat tyto položky: název firmy, anotace, kompletní adresa. 
</p>
<p>
Fotografie
Stávající fotografii máte možnost odstranit.
Máte možnost náhrát nové fotografie, ale vždy budou na stránce uvedeny pouze 4.
Novou fotografii nahrajete tak, že využijete tlačítka "procházet" a "přidat foto".
</p>
<p>
"editovat"
Po ukončené editaci jakéhokoliv z polí stiskněte "upravit" pro uložení. Pokud tak neučiníte, vaše úpravy nebudou uloženy. 
</p>
Po ukončení editace se nazapomeňte opět odhlásit. 
<p>
Věříme, že webové stránky mohou přispět k podpoře technických oborů a zároveň ke zviditelnění Vaší společnosti.
Předem děkujeme za spolupráci a jsme k dispozici pro případné dotazy.
</p>
<p>
Realizační tým<br />
info@autanasbavi.cz
</p>
