.box
  .h
    %h3 Dny otevřených dveří
  .in.openDays
    %ul
      - OpenDoor.box_days.each do |day|
        %li= link_to "<span class=\"fl\">#{truncate(day.school.name, :length => 45, :omission => '&hellip;')}</span><strong>#{formatted_date(day.date_from)}</strong>", school_path(day.school)