%ul
  %li.mm-1.first= main_tab_for('Interaktivní mapa', map_path)
  %li.mm-2= main_tab_for('Výhody technických oborů', vto_1_path)
  %li.mm-3= main_tab_for('Rady odborníků', hints_path)
  %li.mm-4.last= main_tab_for('Dny otevřených dveří', open_doors_path)