.boxSubmenu
  %ul
    %li= tab_for('Mapa', map_path)
    %li= tab_for('Seznam všech škol', schools_path)
    %li= tab_for('Přehled všech oborů', sections_path)
    %li= tab_for('Všichni zaměstnavatelé', employers_path)