%ul
  %li= link_to 'O Sdružení AP', about_path, :class => 'about'
  %li= link_to 'Aktuality', blogs_path, :class => 'news'
  %li= link_to 'Tiskové zprávy', notes_path, :class => 'print'
  %li.last= link_to 'FAQ', faq_path, :class => 'faq'