<% @page_title = "O Sdružení AP" %>
<div class="col1 about">
  <h2>O Sdružení AP</h2>
  
  <div class="part1">
    <div class="in">
      <p><strong>&bdquo;Auta nás baví&ldquo;</strong> je kampaň Sdružení automobilového průmyslu na podporu technického vzdělávání. Sdružení automobilového průmyslu je zájmovým profesním sdružením českých výrobců vozidel, jejich dílů a příslušenství. Další informace naleznete na <a href="http://www.autosap.cz">www.autosap.cz</a>.</p>
    </div>
    <div class="bottom"></div>
  </div>
  
  <div class="part2">
    <div class="top"></div>
    <div class="in">
      <p>Cílem <strong>Sdružení automobilového průmyslu</strong> a zároveň důvodem, proč pořádá kampaň <strong>&bdquo;Auta nás baví&ldquo;</strong>, je vychovat novou generaci kvalifikovaných technických pracovníků pro automobilový průmysl. Automobilový průmysl je v České republice na špičkové úrovni a s více než 100 tisíci zaměstnanci je významným oborem českého hospodářství.</p>
    </div>
    <div class="bottom"></div>
  </div>
  
  <div class="part3">
    <p><strong>&bdquo;Auta nás baví&ldquo;</strong></p>
  </div>
  
</div>

<div class="col2">

<%= render :partial => 'shared/box_search' %>
<%= render :partial => 'shared/box_open_doors' %>
<%= render :partial => 'shared/box_news', :locals => { :num => 2  } %>

</div>