<% @page_title = "Prohlášení o přístupnosti" %>
<div class="col1 main">

  <h2>Prohlášení o přístupnosti</h2>
<p>Tento web, vzhledem ke svému tématu, se snaží o naprosto maximální přístupnost svého obsahu i funkčnosti. Splňuje všechny důležité zásady přístupnosti podle metodiky Blind Friendly Web i <abbr title="Web Content Accessibility Guidelines" lang="en">WCAG</abbr> 1.0 a Pravidla tvorby přístupného webu připravená pro účely novely Zákona č. 365/2000 Sb., o informačních systémech veřejné správy.</p>
                  <p>Celý web je definován v relativních jednotkách a jeho obsah lze jednoduše zvětšovat a zmenšovat pomocí standardních nástrojů internetových prohlížečů.</p>
                  <p>Struktura layoutu i obsahu je vytvořena strukturálním XHTML 1.0 Strict. Vizuální prezentace pak pomocí kaskádových stylů (<abbr title="Cascading Style Sheets" lang="en">CSS</abbr>). Tato skutečnost pak dovoluje informace zobrazit, respektive prezentovat na všech existujících zařízeních.</p>
                  </div> <!-- /.col1 -->

                  <div class="col2">
                  <%= render :partial => 'shared/box_search' %>  
                  <%= render :partial => 'shared/box_open_doors' %> 
                  </div> <!-- /.col2 -->

