- @page_title = "Soutěž"
.col1.main.quiz
  %h2 Milí soutěžící a příznivci webu Auta nás baví,
  %p děkujeme vám všem za hojnou účast v naší soutěži, která byla ukončena. Zde se můžete podívat na jména šťastných výherců cen: 
  %p 
    %ul
      %li 1.cenu - notebook Dell Latitude E6400 černý 4/250/W7+XPP si převzal z rukou ředitele Sdružení AP pana Ing. Antonína Šípka Ladislav Nepevný z Brna 
      %li 2. cena - trackové kolo GT Transeo 1.0 putuje do rukou Davida Tauše z Cerhovic   
      %li 3. cenu - mobilní telefon Nokia E52 si vybojovala Zuzana Jugová z Prahy 
      %li 4. cenu - dámský a pánský cyklodres, velikost M, včetně kalhot + krokoměr získává Filip Habr z Prahy 
      %li 5. cenu - hokejový dres Nike, velikost M + krokoměr získává Kateřina Černá z Obrnic
  %p Všem výhercům gratulujeme a věříme, že je výhry potěšily. 
  %p My se těšíme na další setkání s vámi všemi na stránkách Auta nás baví.
  %p Krásné jaro a štastnou volbu vašeho budoucího povolání vám přeje tým Auta nás baví.
.col2
  = render :partial => 'shared/box_search'
  = render :partial => 'shared/box_sections'