<% @page_title = "Kontakty" %>
<div class="col1 main">

  <h2>Kontakty</h2>
  <h3>Sdružení automobilového průmyslu</h3>
  <p>   
    Opletalova 55<br />
    110 00 Praha 1<br />
    <a href="http://www.autanasbavi.cz">www.autanasbavi.cz</a><br />
    <a href="mailto:info@autanasbavi.cz">info@autanasbavi.cz</a>   
  </p>

</div> <!-- /.col1 -->

<div class="col2">
<%= render :partial => 'shared/box_search' %>
<%= render :partial => 'shared/box_open_doors' %> 
</div> <!-- /.col2 -->
