<% @page_title = "Ke stažení" %>
<div class="col1 main">

  <h2>Ke stažení</h2>
  <p>
  Budeme rádi, pokud na vaše stránky umístíte odkaz na náš web.<br /><br />

  <strong>Textový odkaz</strong><br />
  <textarea readonly="readonly" rows="1" cols="70">&lt;a href="http://www.autanasbavi.cz/"&gt;Auta nás baví&lt;/a&gt;</textarea>
<br /><br />
  <strong>Statický minibanner - bíle pozadí (131px x 68px)</strong><br />
  <textarea readonly="readonly" rows="3" cols="70">&lt;a href="http://www.autanasbavi.cz/"&gt;&lt;img src="http://www.autanasbavi.cz/images/logo.jpg" width="131" height="68" border="0" alt="Auta nás baví" /&gt;&lt;/a&gt;</textarea>
<br /><br />
  <strong>Statický minibanner - průhledné pozadí (131px x 68px)</strong><br />
  <textarea readonly="readonly" rows="3" cols="70">&lt;a href="http://www.autanasbavi.cz/"&gt;&lt;img src="http://www.autanasbavi.cz/images/logo.png" width="131" height="68" border="0" alt="Auta nás baví" /&gt;&lt;/a&gt;</textarea>
  </p>

</div> <!-- /.col1 -->

<div class="col2">
<%= render :partial => 'shared/box_search' %>
<%= render :partial => 'shared/box_open_doors' %> 
</div> <!-- /.col2 -->