<% @page_title = "FAQ" %>
<div class="col1 faq main">

  <h2>FAQ</h2>
  <p>
    <strong>1. Podle čeho si mám vybrat obor a střední školu?</strong><br /> 
    Je dobré se rozhodovat podle toho, co vás baví, co vám jde a co vás zajímá. Pomůže vám napsat si na list papíru odpovědi na otázky: Jakou pracovní činnost chci dělat, kde chci pracovat, s čím chci pracovat, co chci vytvářet. 
</p>
<p>
  <strong>Podívejte se, podle čeho se rozhodovali</strong><br /> 
<strong>A) Vyučení:</strong>
</p>
<table>
  <tr>
    <th><strong>Důvody volby oboru vzdělání (% kladných odpovědí) </strong></th>
    <th>Obráběč</th>
    <th>Elektrikář</th>
    <th>Automechanik</th>
    <th>Elektromechanik</th>
    <th><strong>Vyučení - průměr</strong></th>
  </tr>
  <tr>
    <td>zájem o obor</td>
    <td>59%</td>
    <td>80%</td>
    <td>95%</td>
    <td>71%</td>
    <td><strong>83%</strong></td>
  </tr>
  <tr>
    <td>snadné uplatnění</td>
    <td>77%</td>
    <td>71%</td>
    <td>58%</td>
    <td>67%</td>
    <td><strong>65%</strong></td>
  </tr>
  <tr>
    <td>dobré finanční ohodnocení</td>
    <td>45%</td>
    <td>34%</td>
    <td>36%</td>
    <td>40%</td>
    <td><strong>30%</strong></td>
  </tr>
  <tr>
    <td>přání rodičů</td>
    <td>47%</td>
    <td>42%</td>
    <td>34%</td>
    <td>46%</td>
    <td><strong>41%</strong></td>
  </tr>
  <tr>
    <td>špatné studijní výsledky / nepřijetí do jiného oboru</td>
    <td>28%</td>
    <td>20%</td>
    <td>15%</td>
    <td>16%</td>
    <td><strong>21%</strong></td>
  </tr>
</table>
<p></p>
<p>
<strong>B) Absolventi maturitních oborů:</strong>
</p>
<table>
  <tr>
    <th><strong>Důvody volby oboru vzdělání (% kladných odpovědí)</strong></th>
    <th>elektrotechnika</th>
    <th>Strojírenství a stroj. výr.</th>
    <th><strong>Maturita - průměr</strong></th>
  </tr>
  <tr>
    <td>zájem o obor</td>
    <td>89%</td>
    <td>71%</td>
    <td><strong>76%</strong></td>
  </tr>
  <tr>
    <td>snadné uplatnění</td>
    <td>84%</td>
    <td>71%</td>
    <td><strong>70%</strong></td>
  </tr>
  <tr>
    <td>dobré finanční ohodnocení</td>
    <td>61%</td>
    <td>34%</td>
    <td><strong>44%</strong></td>
  </tr>
  <tr>
    <td>přání rodičů</td>
    <td>37%</td>
    <td>45%</td>
    <td><strong>44%</strong></td>
  </tr>
  <tr>
    <td>špatné studijní výsledky / nepřijetí do jiného oboru</td>
    <td>8%</td>
    <td>16%</td>
    <td><strong>16%</strong></td>
  </tr>
</table>
<p class="small">
  *Zdroj: www.infoabsolvent.cz Uvedené údaje byly zjištěny v rámci projektů VIP kariéra a ISA v letech 2000-2006, kdy bylo prováděno šetření studentů středních a vyšších odborných škol. Studenti byli dotazováni vždy v závěru svého studia. Bylo dotazováno asi 1600 vyučených, 1980 absolventů maturitních oborů středních odborných škol a 1400 absolventů vyšších odborných škol z celé ČR.
</p>
  <p>
    <strong>2. Z čeho se dělají přijímací zkoušky?</strong><br />  
    Každá škola koná přijímací zkoušku z jiných předmětů, v jiném rozsahu a formě. Zjistěte si na internetových stránkách jednotlivých škol, jaké předměty u zkoušek požadují. Informace najdete obvykle v sekci přijímací řízení nebo uchazeči o studium.
  </p>
    <p>
    <strong>3. Jak se mám připravit na přijímací zkoušky? </strong><br /> 
    Co nejpřesněji si zjistěte, z čeho se zkoušky na vámi vybranou školu dělají. Z předmětů, 
    z nichž vás čeká přijímací zkouška, byste měli prokázat znalost učiva základní školy 
    a schopnost řešit v daném rozsahu úlohy. Je dobré vyzkoušet si cvičně testy z daných předmětů. Některé školy uvádějí na internetových stránkách i své testy z předchozích let. Dnes existuje také nabídka srovnávací testů a tzv. zkoušek nanečisto, které nabízejí různé agentury. Zkoušky nanečisto si můžete udělat také na internetu, například na portále www.zkousky-nanecisto.cz.
  </p>
    <p>
    <strong>4. Berou některé školy „bez přijímaček“?</strong><br /> 
    Informace o podmínkách přijetí naleznete na internetových stránkách každé školy. Na mnoho odborných a průmyslových škol je dostačující podmínkou pro přijetí dobrý prospěch ze základní školy. Školy přijímají do určitého průměru známek na vysvědčení z 8. třídy 
    a  pololetní vysvědčení z  9. třídy. Přijetí bez přijímacích zkoušek bývá častější na školách technického zaměření.
    
  </p>

</div>

<div class="col2">
<%= render :partial => 'shared/box_search' %>
  <%= render :partial => 'shared/box_open_doors' %>
  <%= render :partial => 'shared/box_news', :locals => { :num => 2  } %>
</div> <!-- /.col2 -->