<% @page_title = "Výhody technických oborů | Bude o vás zájem" %>
<div class="col1 advantages relative">
  <h2>Výhody technických oborů</h2>
  <p class="message">O vaši profesi bude na trhu práce dlouhodobý zájem.</p>

  <ul class="advantages">
    <li>Páteří české ekonomiky je strojírenský průmysl, a proto je studium technického oboru to nejlepší, co pro svou budoucnost můžete udělat.</li>
  	<li>Můžete pracovat, kde chcete, uplatnění najdete po celé republice. Strojírenské podniky jsou rovnoměrně rozmístěné 		po celé republiceve všech regionech. Navíc kromě velkých závodů existuje značný počet drobných závodů     firem a 		menších provozoven.</li>
  	<li>Můžete se  podílet na vývoji nových technologií a pak sledovat, jak je denně používají miliony lidí.</li>
  	<li>Navzdory současné finanční krizi z roku 2008 má automobilový průmysl dobré předpoklady do budoucna. Nejen 		díky dlouhé tradici je dnes na špičkové úrovni a se 130 tisíci zaměstnanci jde o významný klíčový obor českého 			hospodářství.</li>
  	<li>Významné zahraniční investice do českého automobilového průmyslu umožnily modernizaci a rozšíření výroby mnoha 		firem. Čeká vás proto pracovní prostředí na západoevropské úrovni.</li>
  	<li>Nabízí se vám také možnost pokračovat ve studiu na vysoké škole či univerzitě. Hned několik českých škol poskytuje 		kvalitní vysokoškolské vzdělání technického směru. Jsou to například:</li>
  </ul>
  
  <ul class="schools">
    <li>České vysoké učení technické v Praze: <a href="http://www.cvut.cz">www.cvut.cz</a></li>
		<li>Vysoké učení technické v Brně: <a href="http://www.vutbr.cz">www.vutbr.cz</a></li>
		<li>Technická univerzita v Liberci: <a href="http://www.tul.cz">www.tul.cz</a></li>
		<li>Vysoká škola báňská -– Technická univerzita Ostrava: <a href="http://www.vsb.cz">www.vsb.cz</a></li>
		<li>Univerzita Pardubice: <a href="http://www.upce.cz">www.upce.cz</a></li>
		<li>Západočeská univerzita v Plzni: <a href="http://www.zcu.cz">www.zcu.cz</a></li>
		<li>Univerzita Jana Evangelisty Purkyně Ústí nad Labem: <a href="http://www.ujep.cz">www.ujep.cz</a></li>
		<li>Univerzita Tomáše Bati ve Zlíně: <a href="http://www.utb.cz">www.utb.cz</a></li>
		<li>ŠKODA AUTO Vysoká škola: <a href="http://www.savs.cz">www.savs.cz</a></li>
		<li>Vysoká škola technická a ekonomická v Českých Budějovicích: <a href="http://www.vstecb.cz">www.vstecb.cz</a></li>
		<li>Univerzita obrany v Brně: <a href="http://www.unob.cz/">www.unob.cz/</a></li>
  </ul>
</div> <!-- /.col1 -->

<div class="col2">

  <div class="boxSubmenu">
    <%= render :partial => "shared/vto_navigation" %>
  </div>
<%= render :partial => 'shared/box_search' %>
<%= render :partial => 'shared/box_open_doors' %> 

</div> <!-- /.col2 -->