<% @page_title = "Výhody technických oborů | Najdete uplatnění" %>
<div class="col1 advantages relative">
  <h2>Výhody technických oborů</h2>
  <p class="message">Jako absolvent snadno najdete uplatnění.</p>

  <ul class="advantages relative">
    <li><em>Poptávka po absolventech technických oborů na trhu poroste.</em></li>
    <li>Zaměstnavatelé v automobilovém průmyslu budou mít i nadále velký zájem o nové odborníky, nejen inženýry, ale zejména zaměstnance se středním technickým vzděláním.</li>
    <li>Průmyslové firmy hledají kvalifikované zaměstnance, techniky a pracovníky vývoje.</li>
    <li>Nezaměstnanost se vás netýká. V roce 2008 byla nezaměstnanost absolventů v oborech Strojírenství a Elektrotechnika nízká u nematuritního i maturitního typu studia (viz tabulka*).</li>
  </ul>
  
  <table>
    <tr>
      <th>Skupiny oborů <br />a nezaměstnanost absolventů</th>
      <th>SOU</th>
      <th class="center">SOU <br />s maturitou</th>
      <th class="center">SOŠ <br />s maturitou</th>
      <th>VOŠ</th>
      <th class="center">VŠ <br />tech. směru</th>
    </tr>
    <tr>
      <td>Strojírenství a strojírenská výroba</td>
      <td class="center">4,2 %</td>
      <td class="center">4,3 %</td>
      <td class="center">4,8 %</td>
      <td class="center">2,3 %</td>
      <td class="center">2 %</td>
    </tr>
    <tr>
      <td>Elektrotechnika, telekomunikace a výpočetní technika</td>
      <td class="center">3,5 %</td>
      <td class="center">5,7 %</td>
      <td class="center">4,5 %</td>
      <td class="center">7,3 %</td>
      <td class="center"></td>
    </tr>
  </table>
  <p class="small">*Zdroj: Ing. Daniela Chamoutová, Ing. Jeny Burdová: Nezaměstnanost absolventů škol se středním a vyšším odborným vzděláním – 2008, Praha 2008, <a href="http://www.infoabsolvent.cz">www.infoabsolvent.cz</a></p>
</div> <!-- /.col1 -->

<div class="col2">

  <div class="boxSubmenu">
    <%= render :partial => "shared/vto_navigation" %>
  </div>
<%= render :partial => 'shared/box_search' %>
<%= render :partial => 'shared/box_open_doors' %> 

</div> <!-- /.col2 -->