<% @page_title = "Výhody technických oborů | Vyděláte si" %>
<div class="col1 advantages relative">
  <h2>Výhody technických oborů</h2>
  <p class="message">Vyděláte si dobré peníze.</p>

  <ul class="advantages">
    <li>Jako technický pracovník v automobilovém průmyslu získáte nadprůměrný výdělek a další výhody: Průměrná 			mzda ve firmách automobilového průmyslu je o více než 14 % vyšší než průměrná mzda v ČR. Za rok 2009 dosáhla hodnoty <br />26 072 Kč za měsíc.</li>
    <li>Zaměstnavatelé vám nabídnou výhody, jako je pomoc s ubytováním nebo jeho částečná úhrada, jazykové vzdělávání 		nebo možnost pracovních cest do zahraničí.</li>
    <li>Celoživotně si vyděláte víc než pracovníci v administrativě nebo ve službách.</li>
    <li>Můžete počítat s tím, že vaše celoživotní výdělky se vyšplhají v průměru na třetí místo, za výdělky vedoucích a odborných pracovníků. (Zdroj: Informační systém o uplatnění absolventů škol: základním zdrojem dat jsou hrubé 			měsíční výdělky z ISPV, 2006)</li>
  </ul>
</div> <!-- /.col1 -->

<div class="col2">

  <div class="boxSubmenu">
    <%= render :partial => "shared/vto_navigation" %>
  </div>
<%= render :partial => 'shared/box_search' %>
<%= render :partial => 'shared/box_open_doors' %> 

</div> <!-- /.col2 -->